@{
    ViewData["Title"] = "Car Index";
}
@model List<ShareDrive.ViewModels.CarViewModels.IndexViewModel>

@if (ViewData["SuccessMessage"] != null)
{
    <div class="col-md-12">
        <div style="margin-top: 10px" class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewData["SuccessMessage"]
        </div>
    </div>
}

<div class="col-md-12">
    <a asp-action="Create" class="btn btn-block btn-info modal-btn" asp-controller="Car" data-target="#modal-container" data-toggle="modal">Add Vehicle</a>
</div>

<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="col-md-12" id="car-index">

    @foreach (var car in Model)
        {
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <div class="pull-right">
                        <a asp-action="Edit" asp-controller="Car" asp-route-id="@car.Id"
                           data-target="#modal-container" tabindex="-1" data-toggle="modal" class="panel-link"><i class="fa fa-edit"></i></a>
                        <a asp-action="Delete" asp-controller="Car" asp-route-id="@car.Id"
                           data-target="#modal-container" tabindex="-1" data-toggle="modal" class="panel-link"><i class="fa fa-close"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 image">
                        <img src="@car.ImageSource" />
                    </div>
                    <div class="col-md-6">
                        <div class="car-label">
                            <label>Brand: </label><span class="car-text">@car.Brand</span>
                        </div>
                        <div class="car-label">
                            <label>Model: </label><span class="car-text">@car.CarModel</span>
                        </div>
                        <div class="car-label">
                            <label>Year: </label><span class="car-text">@car.Year</span>
                        </div>
                    </div>
                </div>
            </div>

        }

</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(document).ready(function () {
            $('#modal-container').on('hidden.bs.modal', function () {
                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');
                // and empty the modal-content element
                $('#modal-container .modal-content').empty();
            });
        })
    </script>
}
