@model IEnumerable<ShareDrive.ViewModels.Admin.Drive.IndexViewModel>

@Html.Partial("_NotificationSuccessPartial")
@Html.Partial("_NotificationErrorPartial")

<table class="responstable">
    <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th></th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.From</td>
            <td>@item.To</td>
            <td>@item.Date</td>
            <td>
                <a asp-area="Admin" asp-action="Details" asp-controller="Drives" asp-route-id="@item.Id"
                   data-target="#modal-container" tabindex="-1"
                   data-toggle="modal" class="btn btn-info">View</a>
            </td>
        </tr>
    }
</table>